{% extends 'base.html.twig' %}

{% block title %}EXASPLOIT | ACCUEIL{% endblock %}

{% block body %}

    <section class="container-fluid mx-0">
        <div class="row">

            {# h3 articles #}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
                <h3 class="mx-auto text-center h3">
                    Les vidéos de la chaine
                </h3>
            </div>

            {# <----------------------- form de recherche ------------------------------------------------------------------------------> #}
            <!--section 1 recherche start-->
            <section class="media-section-1 container-fluid mx-auto text-center my-auto">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 mx-auto text-center">
                        <label for="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Rechercher
                        </label>
                        <br>
                        <div class="text-left">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </section>
            <!--section 1 recherche stop-->
            {# <----------------------- form de recherche ------------------------------------------------------------------------------> #}


            {# affichage des catégories #}
            <div class="col-12 col-sm-12 col-md-10 col-lg-5 col-xl-4 mx-auto text-center">
                <div class="container-fluid mx-auto text-center">
                    <h4 class="mx-auto text-center mb-3">Catégories</h4>
                    <ul class="list-group mx-auto text-center">
                        {% for categorie in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{{ path('show_categorie', {'slug': categorie.slug}) }}">{{ categorie.titre }}
                                    <span class="badge badge-primary badge-pill">{{ categorie.articles | length }} Article(s)</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {# affichage des catégories #}


                {# boucle des articles #}
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 mx-auto my-5 text-center">
                    <div class="row mx-auto text-center">


                        {% if articles|length != null %}

                            {% for article in articles %}
                                <div class="card col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 text-center mx-auto mt-3" style="width: 18rem;">

                                    <img src="{{ asset('assets/img/' ~ article.image) }}" loading="lazy" class="card-img-top mt-3" alt="{{ article.titre }}">

                                    <div class="card-body text-left">
                                        <h5 class="card-title mb-2">{{ article.titre }}</h5>
                                        <a href="{{ path('show_article', {'slug': article.slug}) }}" class="btn btn-primary">VOIR L'ARTICLE</a>
                                    </div>
                                </div>

                            {% endfor %}

                        {% else %}

                            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 mx-auto my-5 text-center">
                                <div class="row mx-auto text-center">


                                    <img src="{{ asset('assets/img/fail.png') }}" alt="result not found"
                                         class="img-fluid text-center mx-auto col-10 col-sm-10 col-md-10 col-lg-8 col-xl-6">


                                </div>
                            </div>

                        {% endif %}


                    </div>
                </div>
                {# boucle des articles #}






        </div>
    </section>






    <div class="container mx-auto">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}
